.droppable-container {
  display: flex;
  width: 50%;
  margin-top: 20px;
}

.droppable-containe_type {
  font-size: 14px;
  margin-inline-end: 10px;
}

.item {
  padding: 4px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #ddd;
  margin-inline-end: 5px;
}